@import "tailwindcss";

@import url('https://fonts.cdnfonts.com/css/arupala-grotesk-trial');

@font-face {
  font-family: "Arupala Grotesk Trial";
  src: url("https://fonts.cdnfonts.com/css/arupala-grotesk-trial.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


/* --- 3D Flip Card Fix Utilities --- */
.perspective {
  perspective: 1200px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}


